<header class="barra-navegacion">
        <div class="container">
            <nav class="navbar__left">
                <img class="img-navbar__left" src="imagenes/Logo Negro.png" alt="TuRutaLocal" />
                <ul class="menu-main">
                    <li><img class="menu-img3" src="imagenes/telefon.jpg" alt="" /></li>
                    <li><a class="menu-item3" routerLink="contactos">contactos</a></li>
                    <li><img class="menu-img2" src="imagenes/planet.jpg" alt="" /></li>
                    <li><a class="menu-item2" routerLink="destinos">destinos</a></li>
                    <li><img class="menu-img1" src="imagenes/ppl.jpg" alt="" /></li>
                    <li><a class="menu-item1" routerLink="nosotros">nosotros</a></li>
                </ul>
            </nav>
        </div>
    </header>

<!-- <p>header works!</p>
<nav class="nabvarmenu">
    <ul class="main-menu">
        <li><a routerLink="dashboard/servicios">servicios</a></li>
        <li class="menu-item">
            <a class="btn btn-outline-primary btn-login" routerLink="login">Login</a>
        </li>
        <li class="menu-item">
            <a class="btn btn-outline-primary btn-login" (click)="logout()">Logout</a>
        </li>
        <li><a routerLink="register">register</a></li>
        <li><a routerLink="dashboard/servicios">Lista Servicio</a></li>
        <li><a routerLink="dashboard/reservas">Lista Reservas</a></li>
        <li><a routerLink="dashboard/destinos">destinos</a></li>
<nav class="nabvarmenu">
    <ul class = "destinos">
        <li><a routerLink="dashboard/destinos">destinos</a></li>
        <li><a routerLink="dashboard/destinos">destinos list</a></li>
        <li><a routerLink="dashboard/destinos/new-form">new destino</a></li>
    </ul>
</nav> -->
