/*header*/
.barra-navegacion {
  width: 100%;
  background-color: #ffffff;
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-navbar__left {
  height: 60px;
}

.menu-main {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}


.menu-main a {
  text-decoration: none;
  padding: 6px 16px;
  border: 1.5px solid #2274A5; 
  border-radius: 9999px;
  font-weight: 500;
  font-size: 14px;
  color: #2274A5;
  transition: all 0.3s ease;
  display: inline-block;
}

/* Hover opcional */
.menu-main a:hover {
  background-color: #2274A5;
  color: #ffffff;
}

