<footer class="footer">
        <div class="footer-container">
        
        <!-- Columna izquierda: logo y redes sociales -->
        <div class="footer-logo">
            <img src="imagenes/Group 2.png" alt="Logo Tu Ruta Local">
            
            <div class="social-icons">
            <a href="#"><img src="imagenes/instagram (1) (1).png" alt="Instagram"></a>
            <a href="#"><img src="imagenes/facebook (1).png" alt="Facebook"></a>
            <a href="#"><img src="imagenes/tik-tok (1).png" alt="TikTok"></a>
            <a href="#"><img src="imagenes/twitter (1).png" alt="Twitter"></a>
            </div>
        </div>
    
        <!-- Columna derecha: contacto -->
        <div class="footer-contacto">
            <h4>Contacto</h4>
            <p>
            <img src="imagenes/sobre (1).png" alt="Correo">
            turutalocal&#64;gmail.com
            </p>
            <p>
            <img src="imagenes/telefono-inteligente (1).png" alt="Teléfono">
            3139847022
            </p>
            <p>
            <img src="imagenes/marcador (1).png" alt="Ubicación">
            Bogotá D.C.
            </p>
        </div>
        </div>
    </footer>