<form [formGroup]="formData" 
class="form form-user"
(submit)="onSubmit()"
>

    <h1> Registrar usuarios </h1>
    <div class="field">
        <label for="email-usuario">Email</label>
        <input type="text" formControlName="email" id="email-usuario">
    </div>
    <div class="field">
        <label for="nombre-usuario">Nombre</label>
        <input type="text" formControlName="nombre" id="nombre-usuario">
    </div>
     <div class="field">
        <label for="username">Username</label>
        <input type="text" formControlName="username" id="username">
    </div>
    <div class="field">
        <label for="password-usuario">Password</label>
        <input type="text" formControlName="password" id="password-usuario">
    </div>
    <div class="field">
        <label for="movilusuario">Móvil</label>
        <input type="number" formControlName="movil" id="movilusuario">
    </div>
    <div class="field">
        <label for="role">Rol</label>
        <select formControlName="rol" id="role">
            <option value="admin">administrador</option>
            <option value="comercial">comercial</option>
            <option value="cliente">cliente</option>
        </select>
    </div>
    <div class="field">
        <button type="submit">Register usuario</button>
    </div>
</form>
