<p>new-form-resenas</p>
<form id="reviewForm">
    <h1>registrar comentario</h1>
    <div>
      <label for="usuario">Usuario:</label>
      <input type="text" id="usuario" name="usuario" required>
    </div>
    <div>
      <label for="servicio">Servicio:</label>
      <input type="text" id="servicio" name="servicio" required>
    </div>
    <div>
      <label for="calificacion">Calificación (1-5):</label>
      <input type="number" id="calificacion" name="calificacion" min="1" max="5" required>
    </div>
    <div>
      <label for="comentario">Comentario:</label>
      <textarea id="comentario" name="comentario" rows="4" required></textarea>
    </div>
    <div>
      <button type="submit">Enviar</button>
    </div>
</form>