<p>new-form-resenas</p>
<form  
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
    class="form form-resenas">
    <h1>registrar comentario</h1>
    <div>
      <label for="resenas-usuario">Usuario:</label>
      <input type="text" value="" formControlName="usuario" id="usuario" >
    </div>
    <div class="field">
        <label for="calificacion">calificacion</label>
        <input type="number" max="5" min="1" formControlName="score" value="" placeholder="ej: 5" id="calificacion">
    </div>
    <div>
      <label for="resenas-comentario">Comentario:</label>
      <textarea type="text" formControlName="comentario" id="comentario" ></textarea>
    </div>
    <div>
      <button type="submit">Enviar</button>
    </div>
</form>