<!-- <pre>{{servicios|json}}</pre> -->

<div class="page-servicios-list">
    @if (servicios.length > 0) {
    <div class="servicios-contenedor">
        @for (servicio of servicios; track $index) {
        <div class="servicio-card">
            <div class="servicio-img">
                <img [src]="servicio.urlImage" alt="{{ servicio.name }}" />
            </div>
            <div class="servicio-info">
                <h3>{{ servicio.name }}</h3>
                <p class="descripcion">{{ servicio.description }}</p>
                <p class="precio">{{ servicio.price | currency:'USD' }}</p>
                <p class="categoria">{{ servicio.category }}</p>
                <p class="estado-boton">{{ servicio.state }}</p> <!-- Se verá como botón -->
            </div>
        </div>
        }
        
    </div>
    } @else {
    <h3>No hay servicios registrados</h3>
    }
</div>