<div class="page-servicios-list">
    @if (servicios.length > 0) {
    <div class="servicios-contenedor">
        @for (servicio of servicios; track $index) {
        <div class="servicio-card">
            <div class="servicio-img">
                <img [src]="servicio.urlImage" alt="{{ servicio.name }}" />
            </div>
            <div class="servicio-info">
                <div class="titulo-estado">
                    <h3>{{ servicio.name }}</h3>
                    <span class="estado-texto">{{ servicio.state }}</span>
                </div>
                <p class="precio">{{ servicio.price | currency:'USD' }}</p>
                <p class="categoria">{{ servicio.category }}</p>
                <a class="ver-mas-boton" [routerLink]="['/reserva', servicio._id]">Ver mas detalles</a>
            </div>
        </div>
        }
    </div>
    } @else {
    <h3>No hay servicios registrados</h3>
    }
</div>
