.page-servicios-list {
    padding: 3rem 1rem;
    max-width: 1000px;
    margin: auto;
    font-family: 'Segoe UI', sans-serif;
}

.servicios-contenedor {
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.servicio-card {
    display: flex;
    gap: 1rem;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 6px 16px rgba(106, 15, 186, 0.321);
    padding: 1.2rem;
    align-items: flex-start;
    width: 27.5%;
    transition: transform 0.2s ease;
    flex-direction: column;
}

.servicio-card:hover {
    transform: translateY(-4px);
}

.servicio-img {
    width: 100%;
    height: 150px;
    flex-shrink: 0;
    border-radius: 14px;
    overflow: hidden;
}

.servicio-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.servicio-info {
    flex: 1;
}

.titulo-estado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.titulo-estado h3 {
    color: #7129a7;
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    flex: 1;
}

.estado-texto {
    color: #2e8b57; /* Verde para disponible */
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
}

.servicio-info .descripcion {
    color: #141414;
    font-size: 1.05rem;
    margin-bottom: 0.7rem;
    line-height: 1.5;
}

.servicio-info .precio {
    color: #007bff;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.servicio-info .categoria {
    color: #7f18b6;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.ver-mas-boton {
    display: inline-block;
    background-color: #7129a7;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s ease;
}