<section class="imagen-principal">
    <div class="frase">
        <h1>Vive una vida que puedas recordar</h1>
    </div>
    <div class="barra_busqueda">
        <input type="text" placeholder="Ingresa tu destino">
        <button class="boton">Buscar</button>
    </div>
</section>
<!-- Cards -->

<div>
    <h2>Destinos destacados</h2>
</div>
<section class="experiencias">
    <div class="destinos_home">
        @for (destino of destinos; track $index) {

        <div class="card">
            <img class="imagen-destinos" [src]="destino?.urlImage" [alt]="">
            <div>
                <div>
                    <h2 class="name">{{destino?.name}}</h2>
                </div>
                <div>
                    <h4 class="descripcion">{{destino?.descripcion}}</h4>
                </div>
                <div class="ver-detalles">
                    <a [routerLink]="['/servicios/:id']">ver detalles</a>
                </div>
            </div>
        </div>
    }
    </div>

</section>
<div class="contenerdor_boton_destinos">
    <a href="destinos" class="boton_destinos" >mas destinos</a>
</div>


<div class="contenedor_boton_destinos">
    <a href="destinos" class="boton_destinos">mas destinos</a>
</div> 
<!-- opiniones -->


<div class="opiniones">
    <div class="title">
        <h2>Opiniones</h2>
        <img src="imagenes/niño.jpg" alt="personas" class="personas">
    </div>
    <div class="opiniones-contenido">
        <div class="cuadro1">
            <h3 class="nombre_opiniones"><img class="foto" src="imagenes/cuenta.png" alt="usuario">Juan Pérez</h3>
            <h4 class="parrafo">para aprovechar bien la visita hay que ir con un guía. Tu ruta local siempre nos gusta.
                En esta ocasión
                nos tocó Alba y nos ha encantado. Una chica muy profesional que nos lo ha explicado todo muy bien y
                hemos aprendido mucho. Además nos daba todas las indicaciones de seguridad muy claras y hemos hecho una
                visita muy organizada. Muchas gracias Alba .</h4>
            <img class="estrellas" src="imagenes/estrellas.png" alt="estrellas">
        </div>
        <div class="cuadro2">
            <h3 class="nombre_opiniones"><img class="foto" src="imagenes/cuenta.png" alt="usuario">Andrea López</h3>
            <h4 class="parrafo">Estupenda, nuestro Guía Ander es súper Simpático y ameno, te explica todo muy bien,
                hemos pasado una
                Mañana estupenda en su compañía, ha resultado todas nuestras dudas, sin duda volveríamos a descubrir la
                Historia con El Gracias Ander </h4>
            <img class="estrellas" src="imagenes/estrellas.png" alt="estrellas">
        </div>
        <div class="cuadro3">
            <h3 class="nombre_opiniones"><img class="foto" src="imagenes/cuenta.png" alt="usuario">Pedro Arce</h3>
            <h4 class="parrafo">Dana, la guía increíble. Amable, simpática, atenta, con explicaciones detalladas y
                amenas. Hemos hecho 2
                tour con ella y todo estupendo. El único pero, demasiada gente, difícil ver todas las salas con tanta
                gente, y no había mucha
                circulación de aire, por lo que se hizo un poco agobiante, pero con la explicaciones de Dana se hizo muy
                ameno.</h4>
            <img class="estrellas" src="imagenes/estrellas.png" alt="estrellas">
        </div>
    </div>
</div>

<div class="pago">
    <div class="titulo">
        <h2 class="metodo_pago">Escoge tu medio de pago preferido</h2>
    </div>
    <div>
        <img class="img_pagos" src="imagenes/visa.png" alt="visa">
    </div>
    <div>
        <img class="img_pagos" src="imagenes/sistecredito.png" alt="sistecredito">
    </div>
    <div>
        <img class="img_pagos" src="imagenes/pse.jpg" alt="pse">
    </div>
    <div>
        <img class="img_pagos" src="imagenes/mastercard.png" alt="mastercard">
    </div>
    <div>
        <img class="img_pagos" src="imagenes/addi.png" alt="addi">
    </div>
    <div>
        <img class="img_pagos" src="imagenes/AmericanExpress.png" alt="AmericanExpress">
    </div>
</div>