<section class="imagen-principal">
    <div class="frase">
        <h1>Vive una vida que puedas recordar</h1>
    </div>
    <div class="barra_busqueda">
        <input type="text" placeholder="Ingresa tu destino">
        <button class="boton">Buscar</button>
    </div>
</section>
<!-- Cards -->

<div>
    <h2>Destinos destacados</h2>
</div>
<section class="experiencias">
    <div class="destinos_home">
        @for (destino of destinos; track $index) {

        <div class="card">
            <img class="imagen-destinos" [src]="destino?.urlImage" [alt]="">
            <div>
                <div>
                    <h2 class="name">{{destino?.name}}</h2>
                </div>
                <div>
                    <h4 class="descripcion">{{destino?.descripcion}}</h4>
                </div>
                <div class="ver-detalles">
                    <a class="boton" [routerLink]="['/servicios/:id']">ver detalles</a>
                </div>
            </div>
        </div>
        }
    </div>
</section>

<div class="contenedor_boton_destinos">
    <a href="destinos" class="boton_destinos">mas destinos</a>
</div>
<!-- opiniones -->


<div class="opiniones">
    <div class="title">
        <h2>Opiniones</h2>
        <img src="imagenes/niño.jpg" alt="personas" class="personas">
    </div>
    <div class="opiniones-contenido">
        <div class="cuadro-opiniones">
            @for (resena of resenas; track $index) {

            <h3 class="nombre_opiniones"><img class="foto" src="imagenes/cuenta.png" alt="usuario">usuario anonimo</h3>

            <div class="parrafo">
                <h2 class="contenido">{{resena?.comentario}}</h2>
            </div>
            <div>
                <!-- ⭐ Aquí mostramos las estrellas -->
                <app-rating [rating]="resena?.score" [readonly]="true" [maxStars]="5">
                </app-rating>
            </div>
            }
        </div>
    </div>
</div>


<!-- pagos -->

<div class="pago">
    <div class="titulo">
        <h2 class="metodo_pago">Escoge tu medio de pago preferido</h2>
    </div>
    <div>
        <img class="img_pagos" src="imagenes/visa.png" alt="visa">
    </div>
    <div>
        <img class="img_pagos" src="imagenes/sistecredito.png" alt="sistecredito">
    </div>
    <div>
        <img class="img_pagos" src="imagenes/pse.jpg" alt="pse">
    </div>
    <div>
        <img class="img_pagos" src="imagenes/mastercard.png" alt="mastercard">
    </div>
    <div>
        <img class="img_pagos" src="imagenes/addi.png" alt="addi">
    </div>
    <div>
        <img class="img_pagos" src="imagenes/AmericanExpress.png" alt="AmericanExpress">
    </div>
</div>