<div class="registro-page">
  <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="form-register">
    
    <div class="form-logo"></div>

    <h1 class="title">Crea tu cuenta</h1>

    <div class="form-content">
      <div class="field" [class.invalid]="formData.get('name')?.invalid && formData.get('name')?.touched">
        <label for="name">Nombre</label>
        <input id="name" type="text" formControlName="name" placeholder="Ej: Diego" />
        <div class="error">El nombre debe tener al menos 3 caracteres.</div>
      </div>

      <div class="field" [class.invalid]="formData.get('email')?.invalid && formData.get('email')?.touched">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" placeholder="ejemplo@correo.com" />
        <div class="error">Email no válido.</div>
      </div>

      <div class="field" [class.invalid]="formData.get('username')?.invalid && formData.get('username')?.touched">
        <label for="username">Usuario</label>
        <input id="username" type="text" formControlName="username" placeholder="usuario123" />
        <div class="error">Usuario obligatorio.</div>
      </div>

      <div class="field" [class.invalid]="formData.get('password')?.invalid && formData.get('password')?.touched">
        <label for="password">Contraseña</label>
        <input id="password" type="password" formControlName="password" placeholder="••••••••" />
        <div class="error">La contraseña es obligatoria.</div>
      </div>

      <div class="field" [class.invalid]="formData.get('movil')?.invalid && formData.get('movil')?.touched">
        <label for="movil">Móvil</label>
        <input id="movil" type="number" formControlName="movil" placeholder="3111111111" />
        <div class="error">Número de móvil válido requerido.</div>
      </div>

      <div class="field">
        <button type="submit" [disabled]="formData.invalid">Regístrate</button>
      </div>
    </div>
  </form>
</div>


