<form formGroup]="formData" class="form form-reservas" action="">

    <h1> Registrar reservas </h1>
    <div class="field">
        <label for="usuario-reserva">Usuario</label>
        <input type="text" name="usuario" id="usuario-reserva">
    </div>
    <div class="field">
        <label for="email-usuario">Correo electrónico</label>
        <input type="text" name="email" id="email-usuario">
    </div>
    <div class="field">
        <label for="nombrereserva">Servicio</label>
        <select name="" id="nombrereserva">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div>
    <div class="field">
        <label for="fecha-reserva">Fecha reservada</label>
        <input type="date" name="fecha" id="fecha-reserva">
    </div>
    <div class="field">
        <label for="numeropersonasreserva">Personas</label>
        <input type="number" name="personas" id="numeropersonasreserva">
    </div>
    <div class="field">
        <label for="estadoreserva">Estado</label>
        <select name="" id="estadoreserva">
            <option value="pendt">pendiente</option>
            <option value="confir">confirmada</option>
            <option value="cancel">cancelada</option>
        </select>
    </div>
    <div class="field">
        <button>Register reserva</button>
    </div>
</form>

