<form claas="form form-login"

    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
   >

   <h1>Login</h1>

    <div class="form-content">
        <div class="field">
            <label for="email">email</label>
            <input type="text" placeholder="Ej: manuela@correo.co" id="email" formControlName="email" >
            <div class="error"> 
                <!-- validar el estado del campo actual -->
                @if ( formData.get('email')?.invalid && (formData.get( 'email')?.dirty || formData.get( 'email')?.touched ) ) {
                    <!-- Validar las reglas para el campo -->
                     @if( formData.get( 'email')?.errors?.[ 'required'] ) {
                        <span>El username es obligatorio</span>
                     }
                     @if( formData.get( 'email')?.errors?.[ 'email'] ) {
                        <span>Formato de correo no válido</span>
                     }
                }
            </div>
        </div>
        <div class="field">
            <label for="password">Password *</label>
            <input type="password" placeholder="Ej: 12353535" id="password" formControlName="password">
            <div class="error">
                 <!-- validar el estado del campo actual -->
                @if ( formData.get('password')?.invalid && (formData.get( 'password')?.dirty || formData.get( 'password')?.touched ) ) {
                    <!-- Validar las reglas para el campo -->
                     @if( formData.get ('password')?.errors?.[ 'required']) {
                        <span>La contraseña es obligatoria</span>
                     }
                     @if(formData.get( 'password')?.errors?.[ 'minlength']) {
                        <span>La contrasenia debe tener mínimo 6 caracteres</span>
                     }
                     @if(formData.get( 'password')?.errors?.[ 'maxlength']) {
                        <span> La contrasenia debe ser de máximo 12 caracteres</span>
                     }
                }
            </div>
        </div>
        <div class="field">
            <button type="submit" [disabled]="formData.invalid">Login</button>
        </div>
    </div>
</form>

