
<h1> Lista de reservas </h1>

<a routerLink="/dashboard/reservas/new">Reservas new</a>

<div class="page page-bookins-list">
    <h1>Lista de Reservas Registradas</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Nombre Servicio</th>
                <th>Fecha Reservada</th>
                <th>Cantidad Personas</th>
                <th>Estado</th>
                <th>Codigo de Reserva</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for ( booking of bookings; track $index) {
            <tr>
                <td>{{ booking.servicio?.name || 'Servicio no disponible' }}</td>
                <td>{{ booking.fechaReservada | date }}</td>
                <td>{{ booking.cantidadPersonas }}</td>
                <td>{{ booking.estado }}</td>
                <td>{{ booking.codigoReserva }}</td>
                <td>
                    <a class="btn btn-primary">Edit 1</a>
                    <a class="btn btn-primary">Edit 2</a>
                    <a class="btn btn-secondy" (click)="onDelete(booking._id)">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>