.imagen-principal img{
    width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
}
/* Card vertical */
  .card-tour.vertical {
    width: 270px;
  }
  
  .card-tour.vertical img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  
  .card-tour.vertical .card-body {
    padding: 1.2rem;
  }
  
  .card-tour.vertical .card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card-tour.vertical h3 {
    font-size: 1.9rem;
    margin: 0;
    color: #131B23;
    text-align: left;
}

.card-tour.vertical .precio {
    font-size: 1.4rem;
    color: #888;
    text-align: right;
    margin: 0;
    border: dotted;
    border-width: 1px;
    padding: 3px;
}
  
.card-tour.vertical .precio span {
    color: #0077cc;
    font-weight: bold;
    font-size: 1.5rem;
}
  
  .card-tour.vertical .descripcion {
    font-size: 0.95rem;
    margin: 1rem 0;
    text-align: left;
  }
  
  .card-tour.vertical button {
    width: 100%;
    background-color: #7E2E84;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
  }