<form 
    [formGroup]="formData"
    (submit)="onSubmit()"
    class="form form-login">

    <h1>registrar servicios</h1>
    
    <div class="classform-content">
        <div class="field" >
        <label for="">Nombre del servicio </label>
        <input type="text" formControlName="name" id="servicio-nombre"  >
    </div>
    <div class="field" >
        <label for="">Descripcion del servicio </label>
        <input type="text" formControlName="description" id="servicio-descripcion" >
    </div>
    <div class="field" >
        <label for="">Valor del servicio </label>
        <input type="text" formControlName="price" id="servicio-valor">
    </div>
    <div class="field" >
        <label for="">Categoria del servicio </label>
            <select name="" id="servicio-categoria">
            <option value="tour">Tour</option>
            <option value="caminata">Caminata</option>
            <option value="viaje">Viaje</option>
        <input type="text" formControlName="category" id="">
        </select>
    </div>
    <div class="field" >
        <label for="">estado del servicio </label>
        <input type="radio" formControlName="state" value="true" id="servicio-estado-disponibilidad">
        <label for="">disponible</label>
        <input type="radio" formControlName="state" value="no-disponible" id="servicio-estado-no-disponible" >
        <label for="">no disponible</label>
        <input type="radio" formControlName="state" value="por-confirmar" id="servicio-estado-por-confirmar" >
        <label for="">por confirmar</label>
    </div>
    <div class="field">
        <button type="submit" > Registrar producto </button>
    </div>
    </div>
    
</form>