<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
/* Estilos para el formulario de destinos */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 40px;
}

form {
    background-color: #3fdf94;
    padding: 30px;
    max-width: 500px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555555;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #141414;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
=======
/** CSS: Forms */
.form h1 {
    text-align: center;
}

.form-content {
    border: 1px dotted;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.form-errors {
    border: 1px dotted;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .title {
        font-size: 1.2rem;
    }
}

.field {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
    width: 100%;
}

.error {
    font-size: 1.3rem;    height: 1rem;
    color: red;
    font-style: italic;
>>>>>>> 22ee6898546bb01ab1988cee76438d57983556c8
}