<!-- <pre>{{ destinos | json }}</pre> -->


<div class="page-destinos-list">
    <h1>destinos list</h1>
    <a href="#" routerLink="/dashboard/destinos/new-form" routerLinkActive="router-link-active" >crear un nuevo destino</a>
    
    @if (destinos.length>0) {

         <table border="1">
        <thead>
            <th>
                Destino
            </th>
            <th>
                imagen
            </th>
            <th>
                servicio
            </th>
            <th>
                actions
            </th>
        </thead>
        <tbody>
            @for (destino of destinos; track $index) {
            <tr>
                <td>
                    {{ destino?.name }}
                </td>
                <td>
                    <img class="destino-img" [src]="destino.urlImage" [alt]="destino.name" />
                </td>
                <td>
                    {{ destino?.services?.name }}
                </td>
                <td>
                    <a href="#" [routerLink]="['/dashboard','destinos','edit',destino._id]">actualizar</a>
                    <a href="#" (click)="onDelete(destino?._id); $event.preventDefault()">eliminar</a>
                </td>
            </tr>
            }

        </tbody>
    </table>
    }
    @else {
        <h3> no hay reservas registradas</h3>
    }

   
</div>