<!-- <pre>{{ destinos | json }}</pre> -->


<div class="page-destinos-list">
    <h1>destinos list</h1>

    <table border="1">
        <thead>
            <th>
                Destino
            </th>
            <th>
                imagen
            </th>
            <th>
                servicio
            </th>
            <th>
                actions
            </th>
        </thead>
        <tbody>
            @for (destino of destinos; track $index) {
            <tr>
                <td>
                    {{ destino.name }}
                </td>
                <td>
                    <img class="destino-img" [src]="destino.urlImage" [alt]="destino.name" />
                </td>
                <td>
                    {{ destino.services?.name }}
                </td>
                <td>
                    actions
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>