<div class="page-destinos-list">
    <h1>destinos list</h1>

    <table border="1">
        <thead>
            <th>
                Destino
            </th>
            <th>
                imagen
            </th>
            <th>
                servicio
            </th>
            <th>
                actions
            </th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
        </tbody>
    </table>
</div>