<div class="page-servicios-list">

    <h1>Lista de servicios</h1>

    <a routerLink="/dashboard/servicios/new">Nuevo Servicio</a>
    @if (servicios.length > 0 ) {
    <table border="1">
        <thead>
            <th>
                <tr>name Service</tr>
            </th>
            <th>
                <tr>description</tr>
            </th>
            <th>
                <tr> price</tr>
            </th>
            <th>
                <tr>categoria del servicio</tr>
            </th>
            <th>
                <tr>acciones</tr>
            </th>

        </thead>
        <tbody>
           
            @for (servicio of servicios; track $index ){
            <tr>
                <td>
                     <img [src]="servicio.urlImage" [alt]="servicio.name" class="servicio-image">
                </td>
                <td>{{servicio.name}} </td>
                <td>{{servicio.description}}</td>
                <td>{{servicio.price | currency }}</td>
                <td>{{servicio.category}}</td>
                <td>{{servicio.state}}</td>
                <td>
                    <a class="btn btn-primary" [routerLink]="['/dashboard', 'servicios', 'edit', servicio._id ]" >edit</a>
                    <a class="btn btn-secondary" (click)="onDelete(servicio._id)">delete</a>
                </td>
            </tr>
            }

        </tbody>
    </table>
    }
    @else {
        <h3> no hay servicios registrados  </h3>
    }
</div>