<div class="page-servicios-list">

    <h1>Lista de servicios</h1>

    <a routerLink="/dashboard/servicios/new">Nuevo Servicio</a>
    <!-- <pre>{{servicios | json }}</pre> -->
    <table border="1">
        <thead>
            <th>
                <tr>name Service</tr>
            </th>
            <th>
                <tr>description</tr>
            </th>
            <th>
                <tr> price</tr>
            </th>
            <th>
                <tr>categoria del servicio</tr>
            </th>
            <th>
                <tr>acciones</tr>
            </th>

        </thead>
        <tbody>
            <img src="servicio.urlimage" alt="servicio.name" class="servicio-image">
            @for (servicio of servicios; track $index ){
            <tr>
                <td>{{servicio.name}} </td>
                <td>{{servicio.description}}</td>
                <td>{{servicio.price | currency }}</td>
                <td>{{servicio.category}}</td>
                <td>{{servicio.state}}</td>
                <td>
                    <a class="btn btn-primary" href="">edit</a>
                    <a class="btn btn-secondary" (click)="onDelete(servicio._id)">delete</a>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>