<!-- reserva.component.html -->

<!-- <pre>{{ serviceDetail | json  }}</pre> -->
<div class="maincontainer">
  <div class="main">

    <!-- Sección: Resumen de reserva -->
<!-- Sección: Resumen de reserva -->
    <section class="resumenreserva">
      <div class="resumen-card">
        <img [src]="serviceDetail.urlImage" [alt]="serviceDetail.name" />
        <div class="resumen-info">
          <h2>{{ serviceDetail.name }}</h2>
        </div>
      </div>
    </section>


    <!-- Sección: Formulario Angular -->
    <section class="formreserva" #formularioReserva>
      <div class="formularioreserva">
        <div class="form-container">
          <form
            class="form form-login"
            [formGroup]="formData"
            (ngSubmit)="onSubmit()"
          >
            <h2>Registrar Reserva</h2>
            <p class="subtitle">Diligencia la información para completar tu reserva</p>


            <div class="field">
              <label for="servicio-nombre-usuario">Nombre de quien reserva</label>
              <input
                type="text"
                formControlName="nombreUsuario"
                id="servicio-nombre-usuario"
              />
            </div>

            
            <div class="field">
              <label for="servicio-cc">Cédula de Ciudadanía</label>
              <input
                type="text"
                formControlName="cedula"
                id="servicio-cc"
              />
            </div>

            <div class="field">
              <label for="servicio-telefono">Número teléfono</label>
              <input
                type="text"
                formControlName="telefono"
                id="servicio-telefono"
              />
            </div>

            <div class="field">
              <label for="servicio-email">Email</label>
              <input
                type="email"
                formControlName="email"
                id="servicio-email"
              />
            </div>

            <div class="field">
              <label for="servicio-direccion">Dirección</label>
              <input
                type="text"
                formControlName="direccion"
                id="servicio-direccion"
              />
            </div>

            <div class="field">
              <label for="servicio-fecha-reserva">Fecha de reserva</label>
              <input
                type="date"
                formControlName="fechaReservada"
                id="servicio-fecha-reserva"
                required
              />
            </div>

            <div class="field">
              <label for="servicio-cantidad-personas">Cantidad de personas</label>
              <input
                type="number"
                formControlName="cantidadPersonas"
                id="servicio-cantidad-personas"
                required
                min="1"
              />
            </div>

            <div class="field">
              <label for="servicio-comentario">Comentarios adicionales</label>
              <textarea
                formControlName="comentario"
                id="servicio-comentario"
                placeholder="Escribe de forma breve cualquier detalle que quieras aclarar"
              >
              </textarea>
            </div>

            <div class="field">
              <label for="servicio-total">Total</label>
              <p>{{ formData.get('total')?.value | currency }}</p>
            </div>

            <div class="field" >
              <button type="submit">Registrar Reserva</button>
            </div>
          </form>
          <div class="condicionesreserva">
        <h2>Condiciones de la reserva</h2>
        <ul>
          <li>Recibirás confirmación al correo electrónico</li>
          <li>Puedes cancelar tu reserva 24 horas antes</li>
          <li>El operador te contactará para coordinar itinerario y métodos de pago</li>
          <li>El cumplimiento de los planes no es responsabilidad de Tu Ruta Local, el operador es quien debe cumplir el itinerario</li>
        </ul>
      </div>
        </div>
      </div>
    </section>


  </div>
</div>
